{{include('partials/header.twig')}}
<div class="jumbotron">
<h1>404</h1>
<p>We could not find your page :( ! Sorry, you will be redirect to the homepage in <span id="test"></span>s</p>
</div>
{{include('partials/footer.twig')}}